<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DagMU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <DagMU.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Lucida Console, 11.25pt</value>
            </setting>
            <setting name="BoxForeColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="BoxBackColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="InputForeColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="InputBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MainLastLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainLastSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="LogDir" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="LogOffset" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BoxFont" serializeAs="String">
                <value>Impact, 8.25pt</value>
            </setting>
        </DagMU.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
